[Desktop Entry]
Name=The Desktop Entry Name
# Some Comment Inbetween
Exec=command %U
StartupNotify=true
Terminal=false
Icon=iconname
Type=Application
Categories=Network;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/webcal;x-scheme-handler/mailto;x-scheme-handler/about;x-scheme-handler/unknown
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
# Some localized name
Name[am]=አአ
Exec=echo Symbol between "%u" params
